<a href="https://colab.research.google.com/github/harbidel/Chickenpox-Case-Prediction/blob/main/ChickenPox_Case_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('/content/hungary_chickenpox.csv')
data.head(10)

,Date,BUDAPEST,BARANYA,BACS,BEKES,BORSOD,CSONGRAD,FEJER,GYOR,HAJDU,...,JASZ,KOMAROM,NOGRAD,PEST,SOMOGY,SZABOLCS,TOLNA,VAS,VESZPREM,ZALA
0,03/01/2005,168,79,30,173,169,42,136,120,162,...,130,57,2,178,66,64,11,29,87,68
1,10/01/2005,157,60,30,92,200,53,51,70,84,...,80,50,29,141,48,29,58,53,68,26
2,17/01/2005,96,44,31,86,93,30,93,84,191,...,64,46,4,157,33,33,24,18,62,44
3,24/01/2005,163,49,43,126,46,39,52,114,107,...,63,54,14,107,66,50,25,21,43,31
4,31/01/2005,122,78,53,87,103,34,95,131,172,...,61,49,11,124,63,56,7,47,85,60
5,07/02/2005,174,76,77,152,189,26,74,181,157,...,95,97,26,146,59,54,27,54,48,60
6,14/02/2005,153,103,54,192,148,65,100,118,129,...,88,56,10,119,104,85,20,32,153,70
7,21/02/2005,115,74,64,174,140,56,111,175,138,...,112,70,21,178,70,75,5,66,149,54
8,28/02/2005,119,86,57,171,90,65,118,105,194,...,67,46,12,112,116,76,22,45,102,42
9,07/03/2005,114,81,129,217,167,64,93,154,119,...,118,73,6,130,68,59,31,85,96,54